<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubRanks</title>
</head>
<body>
<h2>Club Goals:</h2>
<table width="600" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Club Name</th>
        <th>Total Goals</th>
    </tr>

    {% for n in data %}
        <tr>
            <td><a href="{{ n[0] }}">{{ n[1] }}</a></td>
            <td>{{ n[2] }}</td>
        </tr>
    {% endfor %}

</table>

<p><a href="/">Back</a></p>
</body>
</html>