<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clubs</title>
</head>

<body>
<h1>2019-2020 Premier League Clubs</h1>


<table width="400" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Club ID</th>
        <th>Club Name</th>
        <th>City</th>
        <th>Stadium Name</th>
    </tr>

    {% for n in data %}
        <tr>
            <td><a href="{{ n[0] }}">{{ n[0] }}</a></td>
            <td>{{ n[1] }}</td>
            <td>{{ n[2] }}</td>
            <td>{{ n[3] }}</td>
        </tr>
    {% endfor %}

</table>

<p><a href="/">Back</a></p>
</body>


</html>