<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coaches</title>
</head>

<body>
<h1>2019-2020 Premier League Coaches</h1>

<table width="800" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Coach ID</th>
        <th>Coach Name</th>
        <th>Nationality</th>
        <th>Manages Club</th>
    </tr>

    {% for n in data %}
        <tr>
            <td>{{ n[0] }}</td>
            <td>{{ n[1]}} {{ n[2] }}</td>
            <td>{{ n[3] }}</td>
            <td><a href="{{ n[6] }}">{{ n[7] }}</a></td>
        </tr>
    {% endfor %}

</table>

<p>The coach who manages the club with players comes from most different countries is {{ di[0][0] }} {{ di[0][1] }}.</p>
<p>Let's award him/her the love and peace prize. (For the most diversity people in a team)</p>

<p><a href="/">Back</a></p>
</body>


</html>