<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVE</title>
</head>
<body>
<h1>2019-2020 Everton</h1>
<div class="topnav">
    <a href="Clubs">All Clubs</a>
    <a href="ARS">Arsenal</a>
    <a href="CHE">Chelsea</a>
    <a class="active" href="EVE">Everton</a>
    <a href="LEI">Leicester City</a>
    <a href="LIV">Liverpool</a>
    <a href="MCI">Manchester City</a>
    <a href="MUN">Manchester United</a>
    <a href="NEW">Newcastle City</a>
    <a href="SOU">Southampton</a>
    <a href="TOT">Tottenham Hotspur</a>
</div>
<h2>Players ({{ count }} players):</h2>
<table width="1000" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Position</th>
        <th>BirthDate</th>
        <th>Nationality</th>
        <th>Age</th>
    </tr>

    {% for n in players %}
        <tr>
            <td>{{ n[0] }}</td>
            <td>{{ n[1] }} {{ n[2] }}</td>
            <td>{{ n[3] }}</td>
            <td>{{ n[4] }}</td>
            <td>{{ n[5] }}</td>
            <td>{{ n[6] }}</td>
        </tr>
    {% endfor %}

</table>

<p>Everton's coach is {{ coach[0][1] }} {{ coach[0][2] }} who comes from {{ coach[0][3] }}.</p>

</body>
</html>