<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>2019-2020 Premier League Database</h1>

  <p>In this season,
  {% for k in data %}
    {{ k }},
  {% endfor %}
  {{ data[-2] }} are fighting in the Premier League!
  </p>
  <p>There are {{ counts }} players participated in this exciting event!</p>

  <h2>Contents:</h2>

<p><a href="Clubs">Clubs</a></p>
<p><a href="Players">Players</a></p>
<p><a href="Stats">Match Stats</a></p>
<p><a href="Stadiums">Stadiums</a></p>
<p><a href="Coaches">Coaches</a></p>

  <h2>Ranks:</h2>
<p><a href="ClubRanks">See the rank of clubs with goals.</a></p>
<p><a href="PlayerRanks">See the rank of players with goals.</a></p>


</body>


</html>
