<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
<h1>2019-2020 Premier League Players</h1>
{#<h2>Player Goals:</h2>#}
{#<form method="GET" action="/player_goals">#}
{#<p>Input the player id: (You can see the player id below)</p>#}
{#    <p>Player ID: <input type="text" name="player id">#}
{#        <input type="submit" value="Search"></p>#}
{#</form>#}
{##}
<h2>ADD Player:</h2>
<form method="POST" action="/add_player">
<p>Input the player id: (You can see the player id below)</p>
    <p>Player ID: <input type="text" name="pid"> <br>
        Player Firstname: <input type="text" name="pfn"> <br>
        Player Lastname: <input type="text" name="pln"> <br>
        Position: <input type="text" name="position"> <br>
        Birthdate (Date: Y-M-D): <input type="text" name="birthdate"> <br>
        Nationality: <input type="text" name="nationality"> <br>
        Age: <input type="text" name="age"> <br>
        Club ID: <input type="text" name="cid"> <br>
        (Club ID choose from ARS, CHE, EVE, LEI, LIV, MCI, MUN, NEW, SOU, TOT) <br>
        <input type="submit" value="ADD!"></p>
</form>

<h2>Update Player:</h2>
<form method="POST" action="/update_player">
<p>Input the player id: (You can see the player id below)</p>
    <p>Player ID (Necessary): <input type="text" name="upid"> <br>
        Player Firstname: <input type="text" name="upfn"> <br>
        Player Lastname: <input type="text" name="upln"> <br>
        Position: <input type="text" name="uposition"> <br>
        Birthdate (Date: Y-M-D): <input type="text" name="ubirthdate"> <br>
        Nationality: <input type="text" name="unationality"> <br>
        Age: <input type="text" name="uage"> <br>
        Club ID: <input type="text" name="ucid"> <br>
        (Club ID choose from ARS, CHE, EVE, LEI, LIV, MCI, MUN, NEW, SOU, TOT) <br>
        <input type="submit" value="UPDATE!"></p>
</form>

<h2>Player Lists:</h2>
<table width="1000" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Position</th>
        <th>BirthDate</th>
        <th>Nationality</th>
        <th>Age</th>
        <th>Club Name</th>
    </tr>

    {% for n in data %}
        <tr>
            <td>{{ n[0] }}</td>
            <td>{{ n[1] }} {{ n[2] }}</td>
            <td>{{ n[3] }}</td>
            <td>{{ n[4] }}</td>
            <td>{{ n[5] }}</td>
            <td>{{ n[6] }}</td>
            <td><a href="{{ n[8] }}">{{ n[9] }}</a></td>
        </tr>
    {% endfor %}

</table>

<h2>DELETE Player: (You should be careful to play with this!)</h2>
<form method="POST" action="/delete_player">
<p>Input the player id: (You can see the player id above)</p>
    <p>Player ID: <input type="text" name="player id">
        <input type="submit" value="Delete!"></p>
</form>

<p><a href="/">Back</a></p>
</body>
</html>