<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayerRanks</title>
</head>
<body>
<h2>Player Goals:</h2>
<table width="600" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Player Name</th>
        <th>Total Goals</th>
    </tr>

    {% for n in data %}
        <tr>
            <td>{{ n[1] }} {{ n[2] }}</td>
            <td>{{ n[3] }}</td>
        </tr>
    {% endfor %}

</table>


<p><a href="/">Back</a></p>
</body>
</html>