<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stadiums</title>
</head>

<body>
<h1>2019-2020 Premier League Stadiums</h1>

<table width="400" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Stadium Name</th>
        <th>Stadium City</th>
        <th>Capacity</th>
    </tr>

    {% for n in data %}
        <tr>
            <td>{{ n[0] }}</td>
            <td>{{ n[1] }}</td>
            <td>{{ n[2] }}</td>
        </tr>
    {% endfor %}

</table>

<p><a href="/">Back</a></p>
</body>


</html>