<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>
<h1>2019-2020 Premier League Match Stats</h1>


<table width="1200" border="2" cellpadding="2" cellspacing='1'>

    <tr bgcolor="#2ECCFA">
        <th>Date</th>
        <th>Stadium Name</th>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Goals</th>
        <th>Punishments</th>
    </tr>

    {% for n in data %}
        <tr>
            <td>{{ n[3] }}</td>
            <td>{{ n[5] }}</td>
            <td>{{ n[1] }}</td>
            <td>{{ n[4] }}</td>
            <td>{{ n[2] }}</td>
            <td>{% for k in n[6] %}
                {{ k[0] }} {{ k[1] }} has {{ k[2] }} goals <br>
                {% endfor %}
                </td>
            <td>{% for k in n[7] %}
                {{ k[0] }} {{ k[1] }} receives a {{ k[2] }} <br>
                {% endfor %}
                </td>
        </tr>
    {% endfor %}

</table>

<p><a href="/">Back</a></p>
</body>
</html>